.profile-pic {
    border-radius: 50%;
    box-shadow: 0px 0px 25px 0px rgba(87, 85, 87, 1);
}

.columns {
    margin-top: 20px;
}

.content {
    padding-left: 30px;
}

@media only screen and (max-width: 768px) {
    .profile-pic {
        width: 70%;
    }
}